<font color='#32cd32'><b><u> Reviewer Comment. V. 2</u></b></font>
<div class="alert alert-block alert-success">
    
**General feedback:**
  
Hello! 

I'm glad to tell you that your project is at a good level now! **Thank you for the corrections**üëç
   
    
The project has been accepted, great! üòÑ
    
Good luck on the next sprint! :) 
    
______
    
Best wishes,
    
Ksenia Larchenko    


</div>

# Analyzing borrowers‚Äô risk of defaulting

Your project is to prepare a report for a bank‚Äôs loan division. You‚Äôll need to find out if a customer‚Äôs marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers‚Äô credit worthiness.

Your report will be considered when building the **credit score** of a potential customer. The **credit score** is used to evaluate the ability of a potential borrower to repay their loan.

[In this notebook you're provided with hints and brief instructions and thinking prompts. Don't ignore them as they are designed to equip you with the structure for the project and will help you analyze what you're doing on a deeper level. Before submitting your project, make sure you remove all hints and descriptions provided to you. Instead, make this report look as if you're sending it to your teammates to demonstrate your findings - they shouldn't know you had some external help from us! To help you out, we've placed the hints you should remove in square brackets.]

[Before you dive into analyzing your data, explain the purposes of the project and hypotheses you're going to test.]

## Open the data file and have a look at the general information. 

[Start with importing the libraries and loading the data. You may realise that you need additional libraries as you go, which is totally fine - just make sure to update this section when you do.]

In [2]:
# Loading all the libraries
import pandas as pd
import numpy as np
# Load the data
data = pd.read_csv('/datasets/credit_scoring_eng.csv')

## Task 1. Data exploration

**Description of the data**
- `children` - the number of children in the family
- `days_employed` - work experience in days
- `dob_years` - client's age in years
- `education` - client's education
- `education_id` - education identifier
- `family_status` - marital status
- `family_status_id` - marital status identifier
- `gender` - gender of the client
- `income_type` - type of employment
- `debt` - was there any debt on loan repayment
- `total_income` - monthly income
- `purpose` - the purpose of obtaining a loan

[Now let's explore our data. You'll want to see how many columns and rows it has, look at a few rows to check for potential issues with the data.]

In [3]:
# Let's see how many rows and columns our dataset has

data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,19351.000000
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,26787.568355
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,16475.450632
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,3306.762000
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,16488.504500
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,23202.870000
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,32549.611000
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,362496.645000

In [4]:
# let's print the first N rows

data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding
5,0,-926.185831,27,bachelor's degree,0,civil partnership,1,M,business,0,40922.170,purchase of the house
6,0,-2879.202052,43,bachelor's degree,0,married,0,F,business,0,38484.156,housing transactions
7,0,-152.779569,50,SECONDARY EDUCATION,1,married,0,M,employee,0,21731.829,education
8,2,-6929.865299,35,BACHELOR'S DEGREE,0,civil partnership,1,F,employee,0,15337.093,having a wedding
9,0,-2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family

The 'days_employed' column has a lot of negative values, which does not make sense.
Also in the column 'education' there are values written in capital letters that can be a problem.

In [5]:
# Get info on data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

From what can currently be seen there are missing values in 2 columns.

In [6]:
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [7]:
# Let's look at the filtered table with missing values in the the first column with missing data

data[data['total_income'].isnull()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

[Do missing values seem symmetric? Can we be sure in this assumption? Explain your thoughts briefly in this section. You may probably want to conduct further investigations, and count the missing values in all the rows with missing values to confirm the the missing samples are of the same size.]

The missing values in both columns look the same at the moment but further investigation is needed.

In [8]:
# Let's apply multiple conditions for filtering data and look at the number of rows in the filtered table.

data[(data['total_income'].isnull())&(data['days_employed'].isnull())]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

**Intermediate conclusion**

[Does the number of rows in the filtered table match the number of missing values? What conclusion can we make from this?]

[Calculate the percentage of the missing values compared to the whole dataset. Is it a considerably large piece of data? If so, you may want to fill the missing values. To do that, firstly we should consider whether the missing data could be due to the specific client characteristic, such as employment type or something else. You will need to decide which characteristic *you* think might be the reason. Secondly, we should check whether there's any dependence missing values have on the value of other indicators with the columns with identified specific client characteristic.]

[Explain your next steps and how they correlate with the conclusions you made so far.]

In [9]:
# Calculate the percentage of the missing values compared to the whole dataset:
data.isnull().sum()/len(data)

children            0.000000
days_employed       0.100999
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.100999
purpose             0.000000
dtype: float64

We got a result that shows that 10% of the values are missing values in two columns (and their number matches exactly, they probably affect each other). My hypothesis is that these are unemployed or retired people, so both their working days and their income are missing values, but we will keep checking. Also because it is a large percentage I will have to make up for the missing values.
The next step is to check out who is the clients who do not have data on identified characteristic and the column with the missing values.

In [10]:
# Let's investigate clients who do not have data on identified characteristic and the column with the missing clients who do not have data on identified characteristic and the column with the mvalues

data[data['days_employed'].isnull()]['income_type'].value_counts()

employee         1105
business          508
retiree           413
civil servant     147
entrepreneur        1
Name: income_type, dtype: int64

In [11]:
# Checking distribution

data[data['total_income'].isnull()]['income_type'].value_counts()

employee         1105
business          508
retiree           413
civil servant     147
entrepreneur        1
Name: income_type, dtype: int64

[Describe your findings here.]

**Possible reasons for missing values in data**

[Propose your ideas on why you think the values might be missing. Do you think they are missing randomly or there are any patterns?]

[Let's start checking whether the missing values are random.]

Since the income type of the missing values is not only the unemployed and retirees, the claim I made is wrong. If so it does not seem to me that the error is random because the missing values are symmetrical in both columns and it is hard to believe that it is random.
Further investigation is required.

In [12]:
# Checking the distribution in the whole dataset

data['income_type'].value_counts()

employee                       11119
business                        5085
retiree                         3856
civil servant                   1459
entrepreneur                       2
unemployed                         2
paternity / maternity leave        1
student                            1
Name: income_type, dtype: int64

**Intermediate conclusion**

[Is the distribution in the original dataset similar to the distribution of the filtered table? What does that mean for us?]

[If you think we can't make any conclusions yet, let's investigate our dataset further. Let's think about other reasons that could lead to data missing and check if we can find any patterns that may lead us to thinking that the missing values are not random. Because this is your work, this is section is optional.]

In [13]:
# Check for other reasons and patterns that could lead to missing values

data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

In [14]:
data['education'].value_counts()

secondary education    13750
bachelor's degree       4718
SECONDARY EDUCATION      772
Secondary Education      711
some college             668
BACHELOR'S DEGREE        274
Bachelor's Degree        268
primary education        250
Some College              47
SOME COLLEGE              29
PRIMARY EDUCATION         17
Primary Education         15
graduate degree            4
GRADUATE DEGREE            1
Graduate Degree            1
Name: education, dtype: int64

In [15]:
data['family_status'].value_counts()

married              12380
civil partnership     4177
unmarried             2813
divorced              1195
widow / widower        960
Name: family_status, dtype: int64

**Intermediate conclusion**

[Can we finally confirm that missing values are accidental? Check for anything else that you think might be important here.]

In [16]:
# Checking for other patterns - explain which
data['days_employed'].value_counts()

-986.927316     1
-7026.359174    1
-4236.274243    1
-6620.396473    1
-1238.560080    1
               ..
-2849.351119    1
-5619.328204    1
-448.829898     1
-1687.038672    1
-582.538413     1
Name: days_employed, Length: 19351, dtype: int64

The only pattern I found after comparing all the relevant columns is that the number of missing values in the total income is equal to the number of missing values on the days employed. My opinion is that the first is produced from the second and in the absence of the second there is no way to calculate the first.

I will replace the missing values with an average corresponding to the column, as this will bring me closer to the most accurate result.

## Data transformation

[Let's go through each column to see what issues we may have in them.]

[Begin with removing duplicates and fixing educational information if required.]

In [17]:
# Let's see all values in education column to check if and what spellings will need to be fixed
data['education'].unique()

array(["bachelor's degree", 'secondary education', 'Secondary Education',
       'SECONDARY EDUCATION', "BACHELOR'S DEGREE", 'some college',
       'primary education', "Bachelor's Degree", 'SOME COLLEGE',
       'Some College', 'PRIMARY EDUCATION', 'Primary Education',
       'Graduate Degree', 'GRADUATE DEGREE', 'graduate degree'],
      dtype=object)

In [18]:
# Fix the registers if required
data['education'].str.lower()

0          bachelor's degree
1        secondary education
2        secondary education
3        secondary education
4        secondary education
                ...
21520    secondary education
21521    secondary education
21522    secondary education
21523    secondary education
21524    secondary education
Name: education, Length: 21525, dtype: object

In [19]:
data['education']=data['education'].str.lower()

In [20]:
# Checking all the values in the column to make sure we fixed them

data['education'].unique()

array(["bachelor's degree", 'secondary education', 'some college',
       'primary education', 'graduate degree'], dtype=object)

[Check the data the `children` column]

In [21]:
# Let's see the distribution of values in the `children` column
data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

[Are there any strange things in the column? If yes, how high is the percentage of problematic data? How could they have occurred? Make a decision on what you will do with this data and explain you reasoning.]

In [22]:
data['children'].value_counts()/ len(data)

 0     0.657329
 1     0.223833
 2     0.095470
 3     0.015331
 20    0.003531
-1     0.002184
 4     0.001905
 5     0.000418
Name: children, dtype: float64

I think they confused between 1 and (-1) and between 20 and 2.

In [23]:
# [fix the data based on your decision]
data['children']=data['children'].replace(to_replace= -1, value=1)
data['children']=data['children'].replace(to_replace= 20, value=2)

In [24]:
# Checking the `children` column again to make sure it's all fixed

data['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

[Check the data in the `days_employed` column. Firstly think about what kind of issues could there be and what you may want to check and how you will do it.]

In [25]:
# Find problematic data in `days_employed`, if they exist, and calculate the percentage
data['days_employed'].value_counts()

-986.927316     1
-7026.359174    1
-4236.274243    1
-6620.396473    1
-1238.560080    1
               ..
-2849.351119    1
-5619.328204    1
-448.829898     1
-1687.038672    1
-582.538413     1
Name: days_employed, Length: 19351, dtype: int64

[If the amount of problematic data is high, it could've been due to some technical issues. We may probably want to propose the most obvious reason why it could've happened and what the correct data might've been, as we can't drop these problematic rows.]

In [26]:
# Address the problematic values, if they exist

data['days_employed'].abs()

0          8437.673028
1          4024.803754
2          5623.422610
3          4124.747207
4        340266.072047
             ...
21520      4529.316663
21521    343937.404131
21522      2113.346888
21523      3112.481705
21524      1984.507589
Name: days_employed, Length: 21525, dtype: float64

In [27]:
data['days_employed'] = data['days_employed'].abs()

In [28]:
# Check the result - make sure it's fixed
data['days_employed'].value_counts()

986.927316     1
7026.359174    1
4236.274243    1
6620.396473    1
1238.560080    1
              ..
2849.351119    1
5619.328204    1
448.829898     1
1687.038672    1
582.538413     1
Name: days_employed, Length: 19351, dtype: int64

[Let's now look at the client's age and whether there are any issues there. Again, think about what can data can be strange in this column, i.e. what cannot be someone's age.]

In [29]:
# Check the `dob_years` for suspicious values and count the percentage

data['dob_years'].value_counts()

35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

[Decide what you'll do with the problematic values and explain why.]

In [30]:
# Address the issues in the `dob_years` column, if they exist
data['dob_years'].value_counts()

35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

The problem here is that there is a value that is 0 (which does not make sense since it is the age of the customers).
To fix this and get the most accurate result I will use the median to cover the value.

In [31]:
data['dob_years']=data['dob_years'].replace(to_replace= 0, value=data['dob_years'].median())

In [32]:
# Check the result - make sure it's fixed
data['dob_years'].value_counts()

42    698
35    617
40    609
41    607
34    603
38    598
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

[Now let's check the `family_status` column. See what kind of values there are and what problems you may need to address.]

In [33]:
# Let's see the values for the column

data['family_status'].value_counts()

married              12380
civil partnership     4177
unmarried             2813
divorced              1195
widow / widower        960
Name: family_status, dtype: int64

I don't see any problematic values in `family_status`.

In [34]:
# Address the problematic values in `family_status`, if they exist

In [35]:
# Check the result - make sure it's fixed

[Now let's check the `gender` column. See what kind of values there are and what problems you may need to address]

In [36]:
# Let's see the values in the column
data['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

The problematic value here is XNA.
I decided not to change it as it is a zero percentage compared to the rest of the column so there is no point in messing with it.

In [37]:
# Address the problematic values, if they exist

In [38]:
# Check the result - make sure it's fixed

[Now let's check the `income_type` column. See what kind of values there are and what problems you may need to address]

In [39]:
# Let's see the values in the column
data['income_type'].value_counts()

employee                       11119
business                        5085
retiree                         3856
civil servant                   1459
entrepreneur                       2
unemployed                         2
paternity / maternity leave        1
student                            1
Name: income_type, dtype: int64

I don't see any problematic values in 'income_type'.

In [40]:
# Address the problematic values, if they exist

In [41]:
# Check the result - make sure it's fixed

[Now let's see if we have any duplicates in our data. If we do, you'll need to decide what you will do with them and explain why.]

In [42]:
# Checking duplicates

data[data.duplicated()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
2849,0,NaN,41,secondary education,1,married,0,F,employee,0,NaN,purchase of the house for my family
3290,0,NaN,58,secondary education,1,civil partnership,1,F,retiree,0,NaN,to have a wedding
4182,1,NaN,34,bachelor's degree,0,civil partnership,1,F,employee,0,NaN,wedding ceremony
4851,0,NaN,60,secondary education,1,civil partnership,1,F,retiree,0,NaN,wedding ceremony
5557,0,NaN,58,secondary education,1,civil partnership,1,F,retiree,0,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
20702,0,NaN,64,secondary education,1,married,0,F,retiree,0,NaN,supplementary education
21032,0,NaN,60,secondary education,1,married,0,F,retiree,0,NaN,to become educated
21132,0,NaN,47,secondary education,1,married,0,F,employee,0,NaN,housing renovation
21281,1,NaN,30,bachelor's degree,0,married,0,F,employee,0,NaN,buy commercial real estate
21415,0,NaN,54,secondary education,1,married,0,F,retiree,0,NaN,housing transactions

In [43]:
data.drop_duplicates(inplace = True)

72 duplicates were found, all deleted.

In [44]:
data[data.duplicated()]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [45]:
# Check the size of the dataset that you now have after your first manipulations with it
data.info()
data.isnull().sum()/len(data)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21453 entries, 0 to 21524
Data columns (total 12 columns):
children            21453 non-null int64
days_employed       19351 non-null float64
dob_years           21453 non-null int64
education           21453 non-null object
education_id        21453 non-null int64
family_status       21453 non-null object
family_status_id    21453 non-null int64
gender              21453 non-null object
income_type         21453 non-null object
debt                21453 non-null int64
total_income        19351 non-null float64
purpose             21453 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

children            0.000000
days_employed       0.097982
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.097982
purpose             0.000000
dtype: float64

We had duplicates and deleted them and the table did not change.

# Working with missing values

[To speed up working with some data, you may want to work with dictionaries for some values, where IDs are provided. Explain why and which dictionaries you will work with.]

In [46]:
# Find the dictionaries

### Restoring missing values in `total_income`

[Briefly state which column(s) have values missing that you need to address. Explain how you will fix them.]


[Start with addressing total income missing values. Create and age category for clients. Create a new column with the age category. This strategy can help with calculating values for the total income.]

In [47]:
# Let's write a function that calculates the age category

def age_cat(x):
    if x < 25:
        return 'minor'
    elif x > 25 and x < 55:
        return 'adult'
    else:
        return 'retire'

In [48]:
# Test if the funcdation works
data['dob_years'].apply(age_cat)

0         adult
1         adult
2         adult
3         adult
4         adult
          ...
21520     adult
21521    retire
21522     adult
21523     adult
21524     adult
Name: dob_years, Length: 21453, dtype: object

In [49]:
# Creating new column based on function

data['age']=data['dob_years'].apply(age_cat)

In [50]:
# Checking how values in the new column

data['age'].value_counts()

adult     15442
retire     5136
minor       875
Name: age, dtype: int64

[Think about the factors on which income usually depends. Eventually, you will want to find out whether you should use mean or median values for replacing missing values. To make this decision you will probably want to look at the distribution of the factors you identified as impacting one's income.]

[Create a table that only has data without missing values. This data will be used to restore the missing values.]

[Repeat such comparisons for multiple factors. Make sure you consider different aspects and explain your thinking process.]

[Make a decision on what characteristics define income most and whether you will use a median or a mean. Explain why you made this decision]

In [51]:
#  Write a function that we will use for filling in missing values
        
data['filled_income']= data.groupby('education')['total_income'].transform(lambda grp: grp.fillna(np.mean(grp)))

In [52]:
# Check if it works
data[data['filled_income'].isnull()]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, age, filled_income]
Index: []

I decided that the figure that most affects income is education.
So I created a function that replaces all the missing values in the average income column of the income that is cataloged through the education column.

In [53]:
# Checking the number of entries in the columns

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21453 entries, 0 to 21524
Data columns (total 14 columns):
children            21453 non-null int64
days_employed       19351 non-null float64
dob_years           21453 non-null int64
education           21453 non-null object
education_id        21453 non-null int64
family_status       21453 non-null object
family_status_id    21453 non-null int64
gender              21453 non-null object
income_type         21453 non-null object
debt                21453 non-null int64
total_income        19351 non-null float64
purpose             21453 non-null object
age                 21453 non-null object
filled_income       21453 non-null float64
dtypes: float64(3), int64(5), object(6)
memory usage: 2.5+ MB

###  Restoring values in `days_employed`

[Think about the parameters that may help you restore the missing values in this column. Eventually, you will want to find out whether you should use mean or median values for replacing missing values. You will probably conduct a research similar to the one you've done when restoring data in a previous column.]

In [54]:
# Distribution of `days_employed` medians based on your identified parameters


data.groupby('dob_years')['days_employed'].value_counts()

dob_years  days_employed
19         111.762790       1
           115.876036       1
           322.024011       1
           509.969922       1
           556.088508       1
                           ..
74         341528.126150    1
           344623.836105    1
           372861.103965    1
           380150.387046    1
75         1678.969771      1
Name: days_employed, Length: 19351, dtype: int64

In [55]:
# Distribution of `days_employed` means based on your identified parameters
data.groupby('dob_years')['days_employed'].mean()

dob_years
19       633.678086
20       684.944308
21       709.440930
22      2793.321854
23       827.309437
24      1026.405485
25      1088.406453
26      3214.617245
27      3725.820728
28      2180.056457
29      1553.823200
30      1696.039355
31      2331.246721
32      3877.197466
33      3241.413096
34      4141.242883
35      2755.226484
36      4496.534938
37      5879.263440
38      7641.485465
39      5277.456460
40      7076.521918
41      6400.926359
42     17741.626007
43      9418.428468
44      9952.060042
45     11748.039481
46     14121.191502
47     14223.685900
48     18149.683912
49     26679.790846
50     50493.031018
51     68425.772762
52     82803.402429
53     94073.249426
54    126757.781831
55    152264.946612
56    157417.505013
57    193689.068297
58    188571.489818
59    227496.974028
60    262925.277586
61    246731.048849
62    274381.283863
63    293383.721011
64    287670.475737
65    287448.538552
66    313613.718234
67    317629.788586
68    326896.748566
69    338361.511981
70    318072.656240
71    332751.981663
72    333177.822570
73    313848.167175
74    241262.658935
75      1678.969771
Name: days_employed, dtype: float64

[Decide what you will use: means or medians. Explain why.]

I think in the final refinement the average will be more accurate than the median in this case.

In [56]:
# Let's write a function that calculates means or medians (depending on your decision) based on your identified parameter
data['filled_days']= data.groupby('dob_years')['days_employed'].transform(lambda grp: grp.fillna(np.mean(grp)))

In [57]:
# Check that the function works

data[data['days_employed'].isnull()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age,filled_income,filled_days
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding,retire,24594.503037,287448.538552
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education,adult,24594.503037,6400.926359
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate,retire,24594.503037,293383.721011
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase,adult,24594.503037,50493.031018
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding,adult,24594.503037,126757.781831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,secondary education,1,married,0,M,business,0,NaN,purchase of a car,adult,24594.503037,14223.685900
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony,adult,24594.503037,50493.031018
21497,0,NaN,48,bachelor's degree,0,married,0,F,business,0,NaN,building a property,adult,33142.802434,18149.683912
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate,adult,24594.503037,17741.626007
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase,adult,24594.503037,2180.056457

Instead of filling in the missing values, I created a new column of averages based on the age of the customer.

## Categorization of data

[To answer the questions and test the hypotheses, you will want to work with categorized data. Look at the questions that were posed to you and that you should answer. Think about which of the data will need to be categorized to answer these questions. Below you will find a template through which you can work your way when categorizing data. The first step-by-step processing covers the text data; the second one addresses the numerical data that needs to be categorized. You can use both or none of the suggested instructions - it's up to you.]

[Despite of how you decide to address the categorization, make sure to provide clear explanation of why you made your decision. Remember: this is your work and you make all decisions in it.]

In [58]:
# Print the values for your selected data for categorization


data['children'].value_counts()

0    14090
1     4855
2     2128
3      330
4       41
5        9
Name: children, dtype: int64

[Let's check unique values]

In [59]:
# Check the unique values

data['children'].unique()

array([1, 0, 3, 2, 4, 5])

[What main groups can you identify based on the unique values?]

[Based on these themes, we will probably want to categorize our data.]

The first group is 'family_status'.
The seconed group is the number of children.

In [60]:
# Let's write a function to categorize the data based on common topics
def kids(x):
    if x < 1:
        return 0
    else:
        return 1

In [61]:
# Create a column with the categories and count the values for them

data['kid_group'] = data['children'].apply(kids)

In [62]:
data['kid_group'].value_counts()

0    14090
1     7363
Name: kid_group, dtype: int64

[If you decide to categorize the numerical data, you'll need to come up with the categories for it too.]

[Decide what ranges you will use for grouping and explain why.]

In [63]:
# Creating function for categorizing into different numerical groups based on ranges

def income(x):
    if x < 10000:
        return 'low'
    elif x > 10000 and x < 15000:
        return 'avrege'
    else:
        return 'high'

In [64]:
# Creating column with categories
data['income_group'] = data['total_income'].apply(income)

In [65]:
data['income_group'].value_counts()

high      17710
avrege     2817
low         926
Name: income_group, dtype: int64

In [66]:
def purpose_sorted(purpose):
    if 'car' in purpose:
        return 'car'
    if 'education' and 'university' in purpose :
        return 'education'
    if 'wedding' in purpose:
        return 'wedding'
    else:
        return 'house'

In [68]:
data['purpose_sorted'] = data['purpose'].apply(purpose_sorted)

In [69]:
data['purpose_sorted'].value_counts()

house        13876
car           4306
wedding       2323
education      948
Name: purpose_sorted, dtype: int64

I categorized the information into 3 groups:
Are there children or not.
Income level.
The purpose of the loan.
Conclusions:
1. Most customers have no children.
2. Most customers have high income.
3. Most customers's purpose is related to real estate.

## Checking the Hypotheses

**Is there a correlation between having children and paying back on time?**

In [ ]:
# Check the children data and paying back on time


# Calculating default-rate based on the number of children

data.groupby(['children'])['debt'].mean().reset_index().sort_values(by='debt')

**Conclusion**

[Write your conclusions based on your manipulations and observations.]

Customers with 4 children tend to have the most debt.

**Is there a correlation between family status and paying back on time?**

In [ ]:
# Check the family status data and paying back on time



# Calculating default-rate based on family status

data.groupby(['family_status'])['debt'].mean().reset_index().sort_values(by='debt')

**Conclusion**

[Write your conclusions based on your manipulations and observations.]

Unmarried clients tend to have the most debt.

**Is there a correlation between income level and paying back on time?**

In [ ]:
# Check the income level data and paying back on time



# Calculating default-rate based on income level

data.groupby(['income_type'])['debt'].mean().reset_index().sort_values(by='debt')

**Conclusion**

[Write your conclusions based on your manipulations and observations.]

Paternity / maternity leave tend to have the most debt.

**How does credit purpose affect the default rate?**

In [ ]:
# Check the percentages for default rate for each credit purpose and analyze them

data.groupby(['purpose'])['debt'].mean().reset_index().sort_values(by='debt')

**Conclusion**

[Write your conclusions based on your manipulations and observations.]

The customers who have the most difficulty repaying money are customers who take out loans to finance their studies.

# General Conclusion 

[List your conclusions in this final section. Make sure you include all your important conclusions you made that led you to the way you processed and analyzed the data. Cover the missing values, duplicates, and possible reasons and solutions for problematic artifacts that you had to address.]

[List your conclusions regarding the posed questions here as well.]

*I started checking for problematic values and found:
1.The 'days_employed' column has a lot of negative values, which does not make sense. Also in the column 'education' there are values written in capital letters that can be a problem.
2. The total income column and the employed days column had missing overlapping values.
*I replaced the missing values with an average corresponding to the column, as this will bring me closer to the most accurate result.
*The education column had uppercase entries. I fixed that.
*The children's column had one negative value and one particularly high value. I fixed that.
*I checked for duplicated in the data.72 duplicates were found but the information in the table is very basic and since we do not have an identifying detail that sets each person apart, I think there is a chance that the duplications are not by mistake but simply repetitive data.
*I organized the data according to children's columns, marital status and purpose of the loan and found:
The most problematic clients in repaying debts are unmarried who have taken out a loan for study, meaning students.